nav {
  padding: 20px;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0035;
  .right-block {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: all .2s ease;
  }
  a.active {
    color:#3d0909;
  }
}

