article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    height: 300px;
    object-fit: contain;
    object-position: center;
  }
  .btns{
    padding-block: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    button{
        width: 200px;
    }
  }

}